@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: aaa;
    src: url(https://fonts.googleapis.com/css2?family=Aclonica&display=swap)
}

.aaa {
    font-family: aaa;
}

.parent {
    @apply w-11/12 m-auto;
}
.text-alpha {
    @apply text-gray-700;
}

.transitions {
    @apply transition-all duration-150;
}
[x-cloak]{
    display: none;
}